* {
  box-sizing: border-box;
}
.container {
  width: 73%;
  margin: 0 auto;
}
body {
  font-family: 'Roboto', serif;
  font-size: 18px;
}
h1,
h2 {
  text-align: center;
}
h4 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}
.ssss {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 50px;
}
.dddd {
  width: 70%;
}
.aaa {
  width: 30%;
  background-color: #80808030;
  border-radius: 6px;
  h1 {
    font-size: 2vw;
  }
}
.image-content {
  overflow: hidden;
  img {
    width: 100%;
  }
}
.circle-skils-one {
  margin-left: 80px;
  i {
    &:nth-child(-n + 2) {
      color: #00b6ff;
    }
    &:nth-child(n + 3) {
      color: #00ceff54;
    }
  }
}

.circle-skils-two {
  margin-left: 116px;
  i {
    &:nth-child(n + 1) {
      color: #00b6ff;
    }
  }
}
.circle-skils-thee {
  margin-left: 131px;
  i {
    &:nth-child(n + 1) {
      color: #00b6ff;
    }
  }
}
.circle-skils-four {
  margin-left: 115px;
  i {
    &:nth-child(n + 1) {
      color: #00b6ff;
    }
    &:last-child {
      color: #00ceff54;
    }
  }
}
.circle-skils-five {
  margin-left: 131px;
  i {
    &:nth-child(n + 1) {
      color: #00b6ff;
    }
    &:last-child {
      color: #00ceff54;
    }
  }
}
.media-width-skils {
  display: flex;
}
.media-personal-data {
  display: flex;
}
.left-indent {
  margin-left: 20px;
}
@media (max-width: 1000px) {
  .aaa {
    width: 50%;
  }
  a {
    font-size: 2vw;
  }
}
@media (max-width: 800px) {
  .circle-skils-one,
  .circle-skils-two,
  .circle-skils-thee,
  .circle-skils-four,
  .circle-skils-five {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .media-width-skils {
    display: block;
  }
  .media-personal-data {
    display: block;
  }
  a {
    font-size: 2.5vw;
  }
  .ml-0 {
    margin-left: 0;
  }
  .left-indent {
    margin-left: 0;
  }
  .ssss {
    display: block;
  }
  .aaa {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .dddd {
    width: 100%;
  }
}
